In [1]:
import pandas as pd
import numpy as np

In [2]:
import sys
import os
sys.path.append("/Users/leahtan/Documents/3_Research/2024-Ali/ISR/src")
from utils.config_utils import load_config
config = load_config()

In [3]:
meta_path = f"{config['data']['path']}/{config['data']['meta_file']}"
print(meta_path)
#read txt seg by tab

import pandas as pd


# Read the file line by line and process it
data = []

# Open and read the file manually
with open(meta_path, 'r', encoding='utf-8') as f:
    for line in f:
        # Split the line into first five fields and then treat the rest as the comment (review)
        parts = line.strip().split(' ', 5)  # Only split by space for the first 5 elements
        if len(parts) == 6:  # Ensure the line has all parts
            product_id = parts[0]
            user_id = parts[1]
            transaction_id = parts[2]
            date = parts[3]
            rating = parts[4]
            comment = parts[5]  # Everything after the first five fields is treated as the review
            data.append([product_id, user_id, transaction_id, date, rating, comment])

# Create DataFrame from the processed data
df = pd.DataFrame(data, columns=['Product_ID', 'User_ID', 'Transaction_ID', 'Date', 'Rating', 'Comment'])

# Print the DataFrame to check the result
print(df.head())

/Users/leahtan/Documents/3_Research/2024-Ali/ISR/data/raw/Amazon_metadata_original.txt
    Product_ID     User_ID Transaction_ID      Date Rating         Comment
0  ﻿B0010L7T4I  1000066988     1034151422  17-08-10      4        降价啦，下决心买
1   B0010LCLBO  1000066988     1006426892  30-05-08      5           酸奶机不错
2   B0010MABL0  1000066988     1033345292  26-07-10      4  买第二瓶了，挺好用的，润润的
3   B0010MAFJS  1000066988     1006426912  30-05-08      5         用的，感觉不错
4   B0012NMND6  1000066988     1033345262  26-07-10      4            链子不错

In [4]:
label_path = f"{config['data']['path']}/{config['data']['label_file']}"
features_path = f"{config['data']['path']}/{config['data']['feature_file']}"
print(label_path)
print(features_path)

label = pd.read_csv(label_path, sep=' ')

/Users/leahtan/Documents/3_Research/2024-Ali/ISR/data/raw/UserLabel.txt
/Users/leahtan/Documents/3_Research/2024-Ali/ISR/data/raw/UserFeature.txt

In [5]:
label

         user_ID  user_no  label
0     1000066988        1      0
1     1000133148        2      0
2     1000188668        3      0
3     1000198178        4      0
4     1000340388        5      0
...          ...      ...    ...
9419  1373500098     9420      0
9420  1374070218     9421      0
9421  1375549478     9422      0
9422  1380967178     9423      1
9423  1383492618     9424      0

[9424 rows x 3 columns]

In [6]:
head = ['MNR','ANR','NDR',
        'BST','ENR','MeanVar',
        'TMF','PopRank','DisAvg','CatEnt']
feature  = pd.read_csv(features_path, sep='\t',names=head)
feature

,MNR,ANR,NDR,BST,ENR,MeanVar,TMF,PopRank,DisAvg,CatEnt
0,0.299709,0.060465,0.003831,0.001456,0.484808,0.637222,0.218555,0.068965,0.071024,0.822194
1,0.131321,0.046512,0.007663,0.001622,0.410832,0.780098,0.295172,0.072464,0.070725,0.845244
2,0.345248,0.046512,0.002554,0.000817,0.431968,0.806822,0.147868,0.079646,0.058153,0.859755
3,0.431295,0.069767,0.024266,0.004470,0.454425,0.629279,0.149804,0.064935,0.108069,0.741075
4,0.021710,0.013954,0.021711,0.006066,0.138705,0.000000,0.158333,0.090909,0.062393,0.852488
...,...,...,...,...,...,...,...,...,...,...
9419,0.000000,0.000000,0.001277,0.001277,0.000000,0.250480,0.348991,0.227273,0.012515,0.879140
9420,0.001059,0.009302,0.021711,0.008084,0.109643,0.128543,0.216718,0.076923,0.138684,0.766589
9421,0.000000,0.000000,0.001277,0.001277,0.000000,0.250480,0.451153,0.227273,0.046209,0.876538
9422,0.000265,0.004651,0.047254,0.023627,0.022457,0.000000,0.198811,0.037037,0.059044,0.893590
9423,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.455488,0.227273,0.001284,0.876653

In [20]:
path_result = '/Users/leahtan/Documents/3_Research/2024-Ali/ISR/results/GIN_adv_uncertainty_preds_v2.csv'
result_our5 = pd.read_csv(path_result)
#rename: 
result_our5.rename(columns = {'node_id':'user_no'},inplace= True)
result_our5

      user_no  predicted_label  predicted_prob
0           0                0             1.0
1           1                0             1.0
2           2                0             1.0
3           3                0             1.0
4           4                0             1.0
...       ...              ...             ...
8107     9419                0             1.0
8108     9420                0             1.0
8109     9421                0             1.0
8110     9422                0             1.0
8111     9423                0             1.0

[8112 rows x 3 columns]

In [21]:
path_result_isr = '/Users/leahtan/Documents/3_Research/2024-Ali/ISR/data/raw/results/prediction_5percents.txt'
path_result_our5_all = '/Users/leahtan/Documents/3_Research/2024-Ali/ISR/data/raw/results/5percent_all.txt'
#path_result_our5 = '/Users/leahtan/Documents/3_Research/2024-Ali/ISR/data/raw/results/5percent.txt'

result_isr = pd.read_csv(path_result_isr, sep=' ',names=['user_no','isr_pred'])
result_our5_all = pd.read_csv(path_result_our5_all, sep=' ',names=['user_no','our5_all_pred'])
#result_our5 = pd.read_csv(path_result_our5, sep=' ',names=['user_no','our5_pred'])
result_isr

      user_no  isr_pred
0           1         0
1           2         0
2           3         0
3           4         0
4           5         0
...       ...       ...
7950     9420         0
7951     9421         0
7952     9422         0
7953     9423         0
7954     9424         0

[7955 rows x 2 columns]

In [22]:
result_isr.drop_duplicates(subset=['user_no'], keep='first', inplace=True)
result_isr

      user_no  isr_pred
0           1         0
1           2         0
2           3         0
3           4         0
4           5         0
...       ...       ...
7950     9420         0
7951     9421         0
7952     9422         0
7953     9423         0
7954     9424         0

[7955 rows x 2 columns]

In [23]:
result_our5.drop_duplicates(subset=['user_no'], keep='first', inplace=True)
result_our5

      user_no  predicted_label  predicted_prob
0           0                0             1.0
1           1                0             1.0
2           2                0             1.0
3           3                0             1.0
4           4                0             1.0
...       ...              ...             ...
8107     9419                0             1.0
8108     9420                0             1.0
8109     9421                0             1.0
8110     9422                0             1.0
8111     9423                0             1.0

[8112 rows x 3 columns]

In [24]:
result_our5_all.drop_duplicates(subset=['user_no'], keep='first', inplace=True)
result_our5_all

       user_no  our5_all_pred
0            0              0
1            1              0
2            2              0
3            3              0
4            4              0
...        ...            ...
15541     1286              1
15549     4430              0
15557     1776              0
15566     2373              0
15572     6070              0

[8324 rows x 2 columns]

In [25]:
#merge results to label
label = label.merge(result_isr, on='user_no', how='left')
label = label.merge(result_our5, on='user_no', how='left')
label = label.merge(result_our5_all, on='user_no', how='left')
#drop na for label
label.dropna(inplace=True)
label

,user_ID,user_no,label,isr_pred,predicted_label,predicted_prob,our5_all_pred
0,1000066988,1,0,0.0,0.0,1.0,0.0
1,1000133148,2,0,0.0,0.0,1.0,0.0
2,1000188668,3,0,0.0,0.0,1.0,0.0
3,1000198178,4,0,0.0,0.0,1.0,0.0
4,1000340388,5,0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...
9418,1372978938,9419,0,0.0,0.0,1.0,0.0
9419,1373500098,9420,0,0.0,0.0,1.0,0.0
9420,1374070218,9421,0,0.0,0.0,1.0,0.0
9421,1375549478,9422,0,0.0,0.0,1.0,0.0
9422,1380967178,9423,1,0.0,0.0,1.0,0.0

In [26]:
#report the prediction performance
from sklearn.metrics import classification_report
print('ISR')
print(classification_report(label['label'], label['isr_pred']))
print('Our5 (by my replication)')
print(classification_report(label['label'], label['predicted_label']))
print('Our5 (by Jianwei)')
print(classification_report(label['label'], label['our5_all_pred']))

ISR
              precision    recall  f1-score   support

           0       0.97      0.98      0.97      6385
           1       0.80      0.79      0.79       790

    accuracy                           0.95      7175
   macro avg       0.89      0.88      0.88      7175
weighted avg       0.95      0.95      0.95      7175

Our5 (by my replication)
              precision    recall  f1-score   support

           0       0.96      0.96      0.96      6385
           1       0.67      0.71      0.69       790

    accuracy                           0.93      7175
   macro avg       0.82      0.83      0.83      7175
weighted avg       0.93      0.93      0.93      7175

Our5 (by Jianwei)
              precision    recall  f1-score   support

           0       0.96      0.96      0.96      6385
           1       0.67      0.70      0.69       790

    accuracy                           0.93      7175
   macro avg       0.82      0.83      0.82      7175
weighted avg       0.93      0.93      0.93      7175

# New Version Cases

In [8]:
path_result_isr = '/Users/leahtan/Documents/3_Research/2024-Ali/ISR/results/isr_prediction_30percents.txt'
path_result_our_all = '/Users/leahtan/Documents/3_Research/2024-Ali/ISR/results/our_30percent_all.txt'
result_isr = pd.read_csv(path_result_isr, sep=' ',names=['user_no','isr_pred'])
result_our30_all = pd.read_csv(path_result_our_all, sep=' ',names=['user_no','our30_all_pred'])

      user_no  isr_pred
0           1         0
1           2         0
2           3         0
3           5         0
4           8         0
...       ...       ...
5857     9416         1
5858     9417         1
5859     9418         1
5860     9420         0
5861     9424         0

[5862 rows x 2 columns]

In [11]:
result_isr.drop_duplicates(subset=['user_no'], keep='first', inplace=True)
result_isr

      user_no  isr_pred
0           1         0
1           2         0
2           3         0
3           5         0
4           8         0
...       ...       ...
5857     9416         1
5858     9417         1
5859     9418         1
5860     9420         0
5861     9424         0

[5862 rows x 2 columns]

In [10]:
result_our30_all.drop_duplicates(subset=['user_no'], keep='first', inplace=True)
result_our30_all

      user_no  our30_all_pred
0           0               0
1           1               0
2           2               0
3           3               0
4           4               0
...       ...             ...
7634     9419               0
7635     9420               0
7636     9421               0
7637     9422               0
7638     9423               0

[7639 rows x 2 columns]

In [12]:
#compare the performance of our 30% model
#merge results to label
label = label.merge(result_isr, on='user_no', how='left')
label = label.merge(result_our30_all, on='user_no', how='left')
#drop na for label
label.dropna(inplace=True)
label

         user_ID  user_no  label  isr_pred  our30_all_pred
0     1000066988        1      0       0.0             0.0
1     1000133148        2      0       0.0             0.0
2     1000188668        3      0       0.0             0.0
7     1000409138        8      0       0.0             0.0
8     1000418328        9      0       0.0             0.0
...          ...      ...    ...       ...             ...
9414  1367946498     9415      1       1.0             1.0
9415  1369018718     9416      1       1.0             1.0
9416  1369021358     9417      1       1.0             1.0
9417  1369026178     9418      1       1.0             0.0
9419  1373500098     9420      0       0.0             0.0

[4991 rows x 5 columns]

In [13]:
#report the prediction performance
from sklearn.metrics import classification_report
print('ISR')
print(classification_report(label['label'], label['isr_pred']))
print('Our30')
print(classification_report(label['label'], label['our30_all_pred']))

ISR
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      4552
           1       0.86      0.89      0.88       439

    accuracy                           0.98      4991
   macro avg       0.93      0.94      0.93      4991
weighted avg       0.98      0.98      0.98      4991

Our30
              precision    recall  f1-score   support

           0       0.96      0.98      0.97      4552
           1       0.70      0.59      0.64       439

    accuracy                           0.94      4991
   macro avg       0.83      0.78      0.81      4991
weighted avg       0.94      0.94      0.94      4991

In [14]:
#Cases where we are right but ISR is wrong
label[(label['label'] == 1) & (label['our30_all_pred'] == 1) & (label['isr_pred'] == 0)]

         user_ID  user_no  label  isr_pred  our30_all_pred
1946  1042209488     1947      1       0.0             1.0
9134  1284662478     9135      1       0.0             1.0

In [15]:
#Cases where we are wrong but ISR is right
label[(label['label'] == 1) & (label['our30_all_pred'] == 0) & (label['isr_pred'] == 1)]

         user_ID  user_no  label  isr_pred  our30_all_pred
170   1003864728      171      1       1.0             0.0
208   1004688508      209      1       1.0             0.0
767   1016129888      768      1       1.0             0.0
783   1016447688      784      1       1.0             0.0
806   1017008178      807      1       1.0             0.0
...          ...      ...    ...       ...             ...
9333  1316116118     9334      1       1.0             0.0
9339  1317185478     9340      1       1.0             0.0
9342  1317713358     9343      1       1.0             0.0
9406  1348900878     9407      1       1.0             0.0
9417  1369026178     9418      1       1.0             0.0

[132 rows x 5 columns]